<%
const trimText = text => {
    if (text.length > 25) {
        return text.substring(0, 25) + ' ...'
    }
    return text
}
%>

<div class="card" title="<%= cardTitle %>" style="background-image: url('/img/posting-images/<%= cardType %>-1.jpg')">
    <div class="card__body">
        <h3 class="card__heading"><%= trimText(cardTitle)%></h3>
        <div class="card__statistic">
            <% if (viewsCount) { %>
                <div class="card__views">
                    <span><%= viewsCount %></span>
                    <img src="/img/icons/views.svg" alt="">
                </div>
            <% } %>
            <% if (workersCount) { %>
                <div class="card__workers">
                    <span><%= workersCount %></span>
                    <img src="/img/icons/workers.svg" alt="">
                </div>
            <% } %>
        </div>
    </div>
    <a class="card__link" href="<%= cardLink %>">
        card link
    </a>
    <% if (editable) { %>
        <div class="card__edit" title="O'zgartirish">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 383.95 383.95" xml:space="preserve">
              <g fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
                  <path data-original="#000000" d="M0 303.95v80h80l236.05-236.06-80-80zM377.7 56.05 327.9 6.24a21.37 21.37 0 0 0-30.2 0l-39.03 39.04 80 80 39.04-39.04a21.37 21.37 0 0 0 0-30.19z"/>
              </g>
            </svg>
        </div>
    <% } %>
</div>