<%
    function titleCase(word) {
        return word[0].toUpperCase() + word.slice(1).toLowerCase()
    }
%>

<%- include('parts/header') %>

<header class="header header-freelancers">
    <%- include('components/navbar', { logo: 'white' }) %>
    <div class="container">
        <h1 class="header__title">
            <span>Rizqingizni</span>
            <br>
            <span>hallolab oling</span>
        </h1>
    </div>
</header>

<main class="main">
    <div class="board-list">
        <div class="grid-container">
            <% for (let freelancer of freelancers) { %>
                <div class="card" title="<%= titleCase(freelancer.first_name) + ' ' + titleCase(freelancer.last_name) %>" style="background-image: url(<%= freelancer.avatar %>)">
                <div class="card__body">
                    <h3 class="card__heading"><%= freelancer.first_name + ' ' + freelancer.last_name %></h3>
                    <div class="card__statistic"></div>
                </div>
                <a class="card__link" href="/freelancers/<%= freelancer.id %>">
                    card link
                </a>
            </div>
            <% } %>
        </div>
        <div class="pagination-container">
            <div id="pagination"></div>
        </div>
    </div>
</main>

<%- include('components/footer') %>
<%- include('parts/footer') %>