<%- include('parts/header') %>

<header class="header header-freelancers">
    <%- include('components/navbar', { logo: 'white' }) %>
    <div class="container">
        <h1 class="header__title">
            <span>Rizqingizni</span>
            <br>
            <span>hallolab oling</span>
        </h1>
    </div>
</header>

<main class="main">
    <div class="board-list">
        <div class="grid-container">
            <% for (let i = 0; i < 16; i++) { %>
                <%- include('components/card', {
                    cardTitle: 'Akbar Alixanov',
                    viewsCount: null,
                    workersCount: null,
                    cardType: 'frontend',
                    cardLink: '/posts/1',
                    editable: false
                }) %>
            <% } %>
        </div>
        <div class="pagination-container">
            <div id="pagination"></div>
        </div>
    </div>
</main>

<%- include('components/footer') %>
<%- include('parts/footer') %>