<%
const trimText = text => {
    if (text.length > 25) {
        return text.substring(0, 25) + ' ...'
    }
    return text
}
%>

<%- include('parts/header') %>
<!--SECTION INTRO-->
<section class="intro">
    <%- include('components/navbar', { logo: '' }) %>
    <div class="intro__description">
        <div class="flex-container">
            <div class="intro__inner">
                <h1 class="intro__title">
                    <span>Rizqingizni</span> <span>halollab oling</span>
                </h1>
                <p class="intro__text">Ishchi va ish beruvchini uchrashtiruvchi va yaxshilik ulashuvchi milliy
                    platforma</p>
                <div class="intro__links">
                    <a class="button button-white" href="/boards">E'lonlar</a>
                    <a class="button button-white" href="/freelancers">Frilanserlar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="intro__bg"></div>
</section>

<!--SECTION TOP PROJECTS-->
<section class="section">
    <div class="container">
        <header class="section__header">
            <h2 class="section__heading">
                Top e'lonlar
            </h2>
        </header>
        <main class="section__main">
            <div class="slider-1 splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <% for (let board of topBoards) { %>
                            <li class="splide__slide">
                                <div class="card" title="<%= board.title %>" style="background-image: url(<%= board.img_url %>)">
                                    <div class="card__body">
                                        <h3 class="card__heading"><%= trimText(board.title)%></h3>
                                        <div class="card__statistic">
                                            <div class="card__workers">
                                                <span><%= board.applicants.length %></span>
                                                <img src="/img/icons/workers.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <a class="card__link" href="/boards/<%= board.id %>">
                                        card link
                                    </a>
                                </div>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</section>

<!--TOP FREELANCERS-->
<section class="section">
    <div class="container">
        <header class="section__header">
            <h2 class="section__heading">
                Top frilanserlar
            </h2>
        </header>
        <main class="section__main">
            <div class="top-freelancers splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <% for (let freelancer of topFreelancers) { %>
                            <li class="splide__slide">
                                <div class="freelancer__card" title="<%= freelancer.first_name %> <%= freelancer.last_name %>">
                                    <div class="freelancer__img">
                                        <img src="<%= freelancer.avatar %>" alt="">
                                    </div>
                                    <div class="freelancer__info">
                                        <h3 class="freelancer__name"><%= freelancer.first_name %> <%= freelancer.last_name %></h3>

                                        <% if (freelancer.portfolios.length >= 10) { %>
                                            <span class="freelancer__level">Senior dasturch</span>
                                        <% } %>

                                        <% if (freelancer.portfolios.length >= 5 && freelancer.portfolios.length < 10) { %>
                                            <span class="freelancer__level">Middle dasturchi</span>
                                        <% } %>

                                        <% if (freelancer.portfolios.length < 5) { %>
                                            <span class="freelancer__level">Junior dasturchi</span>
                                        <% } %>
                                    </div>
                                    <a class="card__link" href="/freelancers/<%= freelancer.id %>">Card Link</a>
                                </div>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</section>

<!--FINISHED PROJECTS-->
<section class="section">
    <div class="container">
        <header class="section__header">
            <h2 class="section__heading">
                Tugallangan loyihalar
            </h2>
        </header>
        <main class="section__main">
            <div class="slider-2 splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <% for (let board of topCompleted) { %>
                            <li class="splide__slide">
                                <div class="card" title="<%= board.title %>" style="background-image: url(<%= board.img_url %>)">
                                    <div class="card__body">
                                        <h3 class="card__heading"><%= trimText(board.title)%></h3>
                                        <div class="card__statistic">
                                            <div class="card__workers">
                                                <span><%= board.applicants.length %></span>
                                                <img src="/img/icons/workers.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <a class="card__link" href="/boards/<%= board.id %>">
                                        card link
                                    </a>
                                </div>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</section>

<!--SECTION SPONSORS-->
<section class="section">
    <div class="container">
        <header class="section__header">
            <h2 class="section__heading">
                Bizning homiylar
            </h2>
        </header>
        <main class="section__main">
            <div class="slider-3 splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <% for (let sponsor of sponsors) { %>
                            <li class="splide__slide">
                            <div class="sponsors__card">
                                <img style="max-width: 150px" srcset="<%= sponsor.logo %>" alt="sponsor logo">
                                <a class="sponsors__link" href="<%= sponsor.link %>" target="_blank">Uber</a>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</section>

<!--STATISTICS-->
<section class="section">
    <div class="container">
        <header class="section__header">
            <h2 class="section__heading">
                Statistikalar
            </h2>
        </header>
        <main class="section__main">
            <div class="statistics">
                <div class="statistics__card">
                    <strong class="statistics__value"><%= freelancers %></strong>
                    <h3 class="statistics__title">Frilanserlar</h3>
                    <img class="statistics__icon" src="/img/icons/statistic-1.svg" alt="statistic icon">
                </div>
                <div class="statistics__card">
                    <strong class="statistics__value"><%= sponsors.length %></strong>
                    <h3 class="statistics__title">Homiylar</h3>
                    <img class="statistics__icon" src="/img/icons/statistic-2.svg" alt="statistic icon">
                </div>
                <div class="statistics__card">
                    <strong class="statistics__value"><%= completed %></strong>
                    <h3 class="statistics__title">Tugallangan loyihalar</h3>
                    <img class="statistics__icon" src="/img/icons/statistic-3.svg" alt="statistic icon">
                </div>
                <div class="statistics__card">
                    <strong class="statistics__value"><%= boards %></strong>
                    <h3 class="statistics__title">Mavjud e'lonlar</h3>
                    <img class="statistics__icon" src="/img/icons/statistic-4.svg" alt="statistic icon">
                </div>
            </div>
        </main>
    </div>
</section>

<!--FOOTER-->
<%- include('components/footer') %>
<%- include('parts/footer') %>