<%- include('parts/header') %>

<header class="header header-profile">
    <%- include('components/navbar', { logo: 'white' }) %>
</header>

<section class="profile">
    <header class="profile__header">
        <div class="flex-container">
            <div class="profile__owner">
                <div class="profile__avatar">
                    <picture>
                        <source srcset="/img/users/user@1x.webp 1x, /img/users/user@2x.webp 2x" type="image/webp">
                        <img srcset="/img/users/user@1x.jpg 1x, /img/users/user@2x.jpg 2x">
                    </picture>
                </div>
                <div class="profile__name">
                    <h1><%= user.firstName + ' ' + user.lastName %></h1>
                    <p>Web Developer</p>
                </div>
            </div>
            <a class="profile__mail" href="/<%= user.username %>/mail">
                <span class="profile__mail-icon profile__mail-icon--unread">
                    <img src="/img/icons/email.svg" alt="email icon">
                </span>
                <span>Xabarlar</span>
            </a>
        </div>
    </header>
    <main class="profile__main">
        <div class="container">
            <section class="profile__section profile__section--basic">
                <div>
                    <header class="profile__section__header">
                        <h2 class="profile__section__heading">Ism, familiya</h2>
                        <div class="profile__section__edit" title="O'zgartirish">
                            <img src="/img/icons/edit.svg" alt="edit icon">
                        </div>
                    </header>
                    <main class="profile__section__main">
                        <p class="profile__section__text">Og'abek Sultonbayev</p>
                    </main>
                </div>
                <div>
                    <header class="profile__section__header">
                        <h2 class="profile__section__heading">Telefon raqam</h2>
                        <div class="profile__section__edit" title="O'zgartirish">
                            <img src="/img/icons/edit.svg" alt="edit icon">
                        </div>
                    </header>
                    <main class="profile__section__main">
                        <p class="profile__section__text">+99 899 963 97 73</p>
                    </main>
                </div>
                <div>
                    <header class="profile__section__header">
                        <h2 class="profile__section__heading">Elektron pochta</h2>
                        <div class="profile__section__edit" title="O'zgartirish">
                            <img src="/img/icons/edit.svg" alt="edit icon">
                        </div>
                    </header>
                    <main class="profile__section__main">
                        <p class="profile__section__text">sultonbayevogabek@gmail.com</p>
                    </main>
                </div>
            </section>
            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">O'zingiz haqingizda ma'lumot</h2>
                    <div class="profile__section__edit" title="O'zgartirish">
                        <img src="/img/icons/edit.svg" alt="edit icon">
                    </div>
                </header>
                <main class="profile__section__main">
                    <p class="profile__section__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.</p>
                </main>
            </section>
            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">Portfolio</h2>
                    <div class="profile__section__add" title="Qo'shish">
                        <img src="/img/icons/add.svg" alt="edit icon">
                    </div>
                </header>
                <main class="profile__section__main profile__section__main--grid">
                    <% for (let i = 0; i < 5; i++) { %>
                        <%- include('components/card', {
                            postTitle: 'Kun.uz Web Sayti',
                            viewsCount: null,
                            workersCount: null,
                            postType: 'frontend',
                            postLink: 'https://kun.uz'
                        }) %>
                    <% } %>
                </main>
            </section>
            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">Ishlagan joylaringiz</h2>
                    <div class="profile__section__add" title="Qo'shish">
                        <img src="/img/icons/add.svg" alt="edit icon">
                    </div>
                </header>
                <main class="profile__section__main">

                </main>
            </section>
        </div>
    </main>
</section>

<%- include('components/footer') %>
<%- include('parts/footer') %>