<%
function titleCase(word) {
    return word[0].toUpperCase() + word.slice(1).toLowerCase()
}
%>
<%- include('parts/header') %>

<header class="header header-profile">
    <%- include('components/navbar', { logo: 'white' }) %>
</header>

<section class="profile">
    <header class="profile__header">
        <div class="flex-container">
            <div class="profile__owner">
                <div class="profile__avatar">
                    <img src="<%= user.avatar %>" alt="<%= user.email %>">
                    <label class="avatar-change">
                        <img class="avatar-change__icon" src="/img/icons/camera.svg" alt="Camera icon">
                        <input class="avatar-change__input d-none" type="file" accept=".png, .jpg">
                    </label>
                </div>
                <div class="profile__name">
                    <h1><%= titleCase(user.first_name) + ' ' + titleCase(user.last_name) %></h1>
                    <% if (user.type === 'freelancer') { %>
                        <p>Frilanser</p>
                    <% } else { %>
                        <p>Buyurtmachi</p>
                    <% } %>
                </div>
            </div>
        </div>
    </header>
    <main class="profile__main">
        <div class="container">
            <section class="profile__section profile__section--basic">
                <div>
                    <header class="profile__section__header">
                        <h2 class="profile__section__heading">Ism, familiya</h2>
                        <div class="profile__section__edit" data-full-name-edit-btn title="O'zgartirish">
                            <img src="/img/icons/edit.svg" alt="edit icon">
                        </div>
                    </header>
                    <main class="profile__section__main">
                        <p class="profile__section__text">
                            <%= titleCase(user.first_name) + ' ' + titleCase(user.last_name) %>
                        </p>
                    </main>
                </div>
                <div>
                    <header class="profile__section__header">
                        <h2 class="profile__section__heading">Telefon raqam</h2>
                        <div class="profile__section__edit" data-phone-edit-btn title="O'zgartirish">
                            <img src="/img/icons/edit.svg" alt="edit icon">
                        </div>
                    </header>
                    <main class="profile__section__main">
                        <% if (user.phone_number) { %>
                            <p class="profile__section__text"><%= user.phone_number %></p>
                        <% } else { %>
                            <p class="profile__section__text">&horbar;</p>
                        <% } %>
                    </main>
                </div>
                <div>
                    <header class="profile__section__header">
                        <h2 class="profile__section__heading">Elektron pochta</h2>
                        <div class="profile__section__edit" data-email-edit-btn title="O'zgartirish">
                            <img src="/img/icons/edit.svg" alt="edit icon">
                        </div>
                    </header>
                    <main class="profile__section__main">
                        <p class="profile__section__text"><%= user.email %></p>
                    </main>
                </div>
                <div>
                    <header class="profile__section__header">
                        <h2 class="profile__section__heading">Telegram username</h2>
                        <div class="profile__section__edit" data-telegram-edit-btn title="O'zgartirish">
                            <img src="/img/icons/edit.svg" alt="edit icon">
                        </div>
                    </header>
                    <main class="profile__section__main">
                        <% if (user.telegram_username) { %>
                            <p class="profile__section__text"><%= user.telegram_username %></p>
                        <% } else { %>
                            <p class="profile__section__text">&horbar;</p>
                        <% } %>
                    </main>
                </div>
                <div>
                    <header class="profile__section__header">
                        <h2 class="profile__section__heading">Veb sayt</h2>
                        <div class="profile__section__edit" data-website-edit-btn title="O'zgartirish">
                            <img src="/img/icons/edit.svg" alt="edit icon">
                        </div>
                    </header>
                    <main class="profile__section__main">
                        <% if (user.web_site) { %>
                            <p class="profile__section__text"><%= user.web_site %></p>
                        <% } else { %>
                            <p class="profile__section__text">&horbar;</p>
                        <% } %>
                    </main>
                </div>
                <div>
                    <header class="profile__section__header">
                        <h2 class="profile__section__heading">Github(yoki Gitlab)</h2>
                        <div class="profile__section__edit" data-git-edit-btn title="O'zgartirish">
                            <img src="/img/icons/edit.svg" alt="edit icon">
                        </div>
                    </header>
                    <main class="profile__section__main">
                        <% if (user.git) { %>
                            <p class="profile__section__text"><%= user.git %></p>
                        <% } else { %>
                            <p class="profile__section__text">&horbar;</p>
                        <% } %>
                    </main>
                </div>
            </section>
            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">O'zingiz haqingizda ma'lumot</h2>
                    <div class="profile__section__edit" data-bio-edit-btn title="O'zgartirish">
                        <img src="/img/icons/edit.svg" alt="edit icon">
                    </div>
                </header>
                <main class="profile__section__main">
                    <% if (user.bio) { %>
                        <p class="profile__section__text"><%= user.bio %></p>
                    <% } else { %>
                        <div class="profile__section__empty">
                            <img src="/img/icons/empty.svg" alt="empty icon">
                            <p>Hozircha hech nima kiritilmagan</p>
                        </div>
                    <% } %>
                </main>
            </section>
            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">Portfolio</h2>
                    <div class="profile__section__add" data-portfolio-add-btn title="Qo'shish">
                        <img src="/img/icons/add.svg" alt="edit icon">
                    </div>
                </header>
                <% if (!user.portfolios.length) { %>
                    <div class="profile__section__empty">
                        <img src="/img/icons/empty.svg" alt="empty icon">
                        <p>Hozircha hech nima kiritilmagan</p>
                    </div>
                <% } else { %>
                    <main class="profile__section__main profile__section__main--grid">
                        <% for (let i = 0; i < user.portfolios.length; i++) { %>
                            <div class="card" title="<%= user.portfolios[i].project_name %>"
                                 style="background-image: url(<%= user.portfolios[i].photo %>)">
                                <div class="card__body">
                                    <h3 class="card__heading"><%= user.portfolios[i].project_name %></h3>
                                    <div class="card__statistic"></div>
                                </div>
                                <a class="card__link" target="_blank" href="<%= user.portfolios[i].project_link %>">Card
                                    link</a>

                                <div class="card__edit" title="O'chirish"
                                     data-remove-portfolio-btn="<%= user.portfolios[i].id %>">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" viewBox="0 0 30 30"
                                         width="512px" height="512px">
                                        <path d="M 13 3 A 1.0001 1.0001 0 0 0 11.986328 4 L 6 4 A 1.0001 1.0001 0 1 0 6 6 L 24 6 A 1.0001 1.0001 0 1 0 24 4 L 18.013672 4 A 1.0001 1.0001 0 0 0 17 3 L 13 3 z M 6 8 L 6 24 C 6 25.105 6.895 26 8 26 L 22 26 C 23.105 26 24 25.105 24 24 L 24 8 L 6 8 z"/>
                                    </svg>
                                </div>
                            </div>
                        <% } %>
                    </main>
                <% } %>
            </section>
            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">Ishlagan joylaringiz</h2>
                    <div class="profile__section__add" data-work-add-btn title="Qo'shish">
                        <img src="/img/icons/add.svg" alt="edit icon">
                    </div>
                </header>
                <% if (!user.experiences.length) { %>
                    <div class="profile__section__empty">
                        <img src="/img/icons/empty.svg" alt="empty icon">
                        <p>Hozircha hech nima kiritilmagan</p>
                    </div>
                <% } else { %>
                    <main class="profile__section__main">
                        <ul class="profile__experience__list">
                            <% for (let exp of user.experiences) { %>
                                <li class="profile__experience__item">
                                    <h3 class="profile__experience__heading">
                                        <span><%= exp.position %>. <%= exp.start_year %>, <%= exp.start_month %> - <%= exp.finish_year %><%= exp.finish_month === 'hozirgacha' ? '' : ', ' + exp.finish_month %></span>
                                        <svg class="profile__experience__delete" data-remove-exp-btn="<%= exp.id %>" xmlns="http://www.w3.org/2000/svg"
                                             fill="#656565" viewBox="0 0 30 30" width="512px" height="512px">
                                            <path d="M 13 3 A 1.0001 1.0001 0 0 0 11.986328 4 L 6 4 A 1.0001 1.0001 0 1 0 6 6 L 24 6 A 1.0001 1.0001 0 1 0 24 4 L 18.013672 4 A 1.0001 1.0001 0 0 0 17 3 L 13 3 z M 6 8 L 6 24 C 6 25.105 6.895 26 8 26 L 22 26 C 23.105 26 24 25.105 24 24 L 24 8 L 6 8 z"/>
                                        </svg>
                                    </h3>
                                    <p class="profile__section__text"><%= exp.description ? exp.description : '―' %></p>
                                </li>
                            <% } %>
                        </ul>
                    </main>
                <% } %>
            </section>
            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">O'qigan joylaringiz</h2>
                    <div class="profile__section__add" title="Qo'shish" data-education-add-btn>
                        <img src="/img/icons/add.svg" alt="edit icon">
                    </div>
                </header>
                <% if (!user.educations.length) { %>
                    <div class="profile__section__empty">
                        <img src="/img/icons/empty.svg" alt="empty icon">
                        <p>Hozircha hech nima kiritilmagan</p>
                    </div>
                <% } else { %>
                    <main class="profile__section__main">
                        <ul class="profile__education__list">
                            <% for (let edu of user.educations) { %>
                                <li class="profile__education__item">
                                    <h3 class="profile__education__heading">
                                        <span><%= edu.edu_name %>. <%= edu.start_year %>, <%= edu.start_month %> - <%= edu.finish_year %><%= edu.finish_month === 'hozirgacha' ? '' : ', ' + edu.finish_month %></span>
                                        <svg class="profile__experience__delete" data-remove-edu-btn="<%= edu.id %>" xmlns="http://www.w3.org/2000/svg"
                                             fill="#656565" viewBox="0 0 30 30" width="512px" height="512px">
                                            <path d="M 13 3 A 1.0001 1.0001 0 0 0 11.986328 4 L 6 4 A 1.0001 1.0001 0 1 0 6 6 L 24 6 A 1.0001 1.0001 0 1 0 24 4 L 18.013672 4 A 1.0001 1.0001 0 0 0 17 3 L 13 3 z M 6 8 L 6 24 C 6 25.105 6.895 26 8 26 L 22 26 C 23.105 26 24 25.105 24 24 L 24 8 L 6 8 z"/>
                                        </svg>
                                    </h3>
                                    <p class="profile__section__text"><%= edu.description ? edu.description : '―'%></p>
                                </li>
                            <% } %>
                        </ul>
                    </main>
                <% } %>
            </section>
            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">Biladigan tillaringiz</h2>
                    <div class="profile__section__add" title="Qo'shish" data-add-language-btn>
                        <img src="/img/icons/add.svg" alt="edit icon">
                    </div>
                </header>
                <% if (!user.languages.length) { %>
                    <div class="profile__section__empty">
                        <img src="/img/icons/empty.svg" alt="empty icon">
                        <p>Hozircha hech nima kiritilmagan</p>
                    </div>
                <% } else { %>
                    <main class="profile__section__main">
                        <ul class="profile__language__list">
                            <% for (let lang of user.languages) { %>
                                <li class="profile__language__item">
                                    <h3 class="profile__language__heading">
                                        <span><%= lang.language %></span>
                                        <svg class="profile__experience__delete" data-remove-lang-btn="<%= lang.id %>" xmlns="http://www.w3.org/2000/svg"
                                             fill="#656565" viewBox="0 0 30 30" width="512px" height="512px">
                                            <path d="M 13 3 A 1.0001 1.0001 0 0 0 11.986328 4 L 6 4 A 1.0001 1.0001 0 1 0 6 6 L 24 6 A 1.0001 1.0001 0 1 0 24 4 L 18.013672 4 A 1.0001 1.0001 0 0 0 17 3 L 13 3 z M 6 8 L 6 24 C 6 25.105 6.895 26 8 26 L 22 26 C 23.105 26 24 25.105 24 24 L 24 8 L 6 8 z"/>
                                        </svg>
                                    </h3>
                                    <p class="profile__section__text"><%= lang.degree %></p>
                                </li>
                            <% } %>
                        </ul>
                    </main>
                <% } %>
            </section>
            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">Ko'nikmalaringiz</h2>
                    <div class="profile__section__add" title="Qo'shish" data-add-skill-btn>
                        <img src="/img/icons/add.svg" alt="add icon">
                    </div>
                </header>
                <% if (!user.skills?.length) { %>
                    <div class="profile__section__empty">
                        <img src="/img/icons/empty.svg" alt="empty icon">
                        <p>Hozircha hech nima kiritilmagan</p>
                    </div>
                <% } else { %>
                    <main class="profile__section__main">
                        <ul class="profile__skills__list">
                            <% for (let skill of user.skills) { %>
                                <li class="profile__skills__item">
                                    <span class="profile__skills__name"><%= skill %></span>
                                    <span class="profile__skills__remove" title="Olib tashlash">
                                        <img src="/img/icons/times-blue.svg" alt="remove skill icon">
                                    </span>
                                </li>
                            <% } %>
                        </ul>
                    </main>
                <% } %>
            </section>
            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">Profilning umumiy ko'rinish. Profildan chiqish</h2>
                </header>
                <a class="profile__general" href="/freelancers/<%= user.id %>">Profilning boshqalarda ko'rinishi</a>
                <a class="profile__exit" href="/exit">Chiqish</a>
            </section>
        </div>
    </main>
</section>

<%- include('components/modal') %>
<%- include('components/footer') %>
<%- include('parts/footer') %>