<%- include('parts/header') %>

<header class="header header-contact">
    <%- include('components/navbar', { logo: 'white' }) %>
    <div class="container">
        <h1 class="board-details__heading">
            <%= board.title %>
        </h1>
    </div>
</header>

<main class="main--project-info">
    <div class="container">
        <div class="project-info">
            <img width="100%" class="mb-20" src="<%= board.img_url %>" alt="">
            <div>
                <div class="project-info__item">
                    <h3 class="project-info__heading">
                        Loyiha haqida
                    </h3>
                    <p class="project-info__value">
                        <%= board.description %>
                    </p>
                </div>
                <div class="project-info__additional">
                    <div class="project-info__item">
                        <h3 class="project-info__heading">
                            Admin bilan aloqa
                        </h3>
                        <p class="project-info__value">
                            <%= board.admin_telegram %>
                        </p>
                    </div>
                    <div class="project-info__item">
                        <h3 class="project-info__heading">
                            Loyiha byudjeti
                        </h3>
                        <p class="project-info__value">
                            <%= board.budget %>$
                        </p>
                    </div>
                    <div class="project-info__item">
                        <h3 class="project-info__heading">
                            Qabulning oxirgi sanasi
                        </h3>
                        <p class="project-info__value">
                            <%= board.acceptance_data %>
                        </p>
                    </div>
                    <div class="project-info__item">
                        <h3 class="project-info__heading">
                            Tugatish sanasi
                        </h3>
                        <p class="project-info__value">
                            <%= board.finish_data %>
                        </p>
                    </div>
                    <% if (!user && acceptable) { %>
                        <div class="project-info__item">
                            <h3 class="project-info__heading">
                                Loyihaga yozilish uchun avtorizatsiya qiling
                            </h3>
                        </div>
                    <% } %>
                    <% if (user && acceptable && !accepted) { %>
                        <div class="project-info__item">
                            <h3 class="project-info__heading">
                                Loyihada qatnashish
                            </h3>
                            <p class="project-info__value">
                                <a class="button button-outline" href="/boards/apply/<%= board.id %>">Loyihada qatnashish</a>
                            </p>
                        </div>
                    <% } %>
                    <% if (user && accepted) { %>
                        <div class="project-info__item">
                            <h3 class="project-info__heading">
                                Loyihada materiallari
                            </h3>
                            <p class="project-info__value">
                                <a class="button button-blue" href="<%= board.materials_link %>">Materiallar</a>
                            </p>
                        </div>
                    <% } %>
                    <% if (!acceptable && !accepted) { %>
                        <div class="project-info__item">
                            <p class="project-info__value">
                                <button class="button button-blue" disabled>Qabul tugagan</button>
                            </p>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('components/footer') %>
<%- include('parts/footer') %>